[user]
	name = Michael Zetterberg fd. Lopez
	email = michael@weahead.se
[core]
	pager = diff-so-fancy
	excludesfile = /Users/michael/.gitignore_global
#	autocrlf = input
#	safecrlf = true
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	fb = checkout -b
	glog = log --graph --all --oneline --decorate
[credential]
	helper = osxkeychain
[push]
	default = simple
        followTags = true
[rerere]
	enabled = true
[diff]
	tool = diffmerge
[pager]
	#diff = diff-so-fancy | less --tabs=4 -RFX
	diff = diff-so-fancy
	#show = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy
