# Set tab size to 4
set tabsize 4

# Enable smart home key.
set smarthome

# Enable backups.
set backup

# Set backup dir to working directory.
set backupdir ""

# Enable multiple buffers.
set multibuffer

# Enable history.
set historylog

# Use blank row below the title bar for editing.
set morespace

# Enable smooth scrolling, line-by-line.
set smooth

# Better word boundaries
set wordbounds

# Constantly show cursor
set const

# Enable auto indentation.
set autoindent

# Enable cut from cursor to end of line
set cut

# Enable experimental generic-purpose undo.
set undo

# Disable wrapping of long lines.
set nowrap

# Disable help screen.
set nohelp

# Enable suspend.
set suspend

